<a href="https://colab.research.google.com/github/ghespinosa/iMMAPColombia/blob/master/An%C3%A1lisis_de_Datos_Facebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lisa Troconis y Gustavo Espinosa** &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;   <img src= "https://i0.wp.com/immap.org/wp-content/uploads/2016/12/immap-logo-strap2.png?resize=300%2C45&ssl=1"> <br />

<img src= "https://cdn3.iconfinder.com/data/icons/facebook-ui-flat/48/Facebook_UI-03-512.png"> <br />

*Last updated: July 23th 2020*

# Análisis de Datos Facebook

<br />

**OVERVIEW:** 
- ...

**TO-DO:**
- En Excel podrían usar BuscarV para asignar a cada municipio el total de la población en 2020 y calcular la tasa de venezolanos por 100.000 habitantes.


*See:* 
- https://github.com/ghespinosa/
- https://docs.google.com/document/d/1OCSBBmZ-Qjr8uSAr6ed_ihutUgX0QZi87UDbyRq_gUM/edit?usp=sharing

In [ ]:
import pandas as pd

In [ ]:
pob = pd.read_csv('/content/drive/Shared drives/iMMAP Colombia/Equipo Datos/Insumos datos/Facebook processing/poblacion.csv',sep = '; ')

pob

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

      Grupos de edad;Ambos Sexos
0                      Nacional;
1               Total;50.372.424
2                00-04;3.927.256
3                05-09;3.936.569
4                10-14;3.975.771
...                          ...
26583                  80-84;232
26584                  85-89;110
26585                   90-94;44
26586                   95-99;16
26587          100 A�OS Y M�S;18

[26588 rows x 1 columns]

In [ ]:
mpio = []
valor = []

for i in range(0,len(pob)):
  mpio.append(pob.iloc[i,0].split(';')[0])
  valor.append(pob.iloc[i,0].split(';')[1])

d = {'mpio':mpio,
     'valor':valor}

pob2 = pd.DataFrame(data=d)

pob2.iloc[0,:]

idx = []

boool = pob2['mpio'] == 'Total'

boool = boool.tolist()

for b in range(0,len(boool)):
  if (boool[b]):
    idx.append(b-1)
    idx.append(b)

pob2 = pob2.loc[idx].reset_index(drop=True)

for i in range(0,len(pob2)):
  if pob2.loc[i,'mpio'] != 'Total':
    pob2.loc[i,'valor'] = pob2.loc[i+1,'valor']


idx2=[]
for i in range(0,len(pob2)):
  idx2.append(i%2 == 0)

pob2 = pob2[idx2].reset_index(drop=True)

In [ ]:
pob2.to_csv('poblacion2.csv')
pob2

                mpio       valor
0           Nacional  50.372.424
1          Antioquia   6.677.930
2          Atl�ntico   2.722.128
3       Bogot�, D.C.   7.743.955
4            Bol�var   2.180.976
...              ...         ...
1151  Yavarat� (ANM)       1.097
1152  Puerto Carre�o      20.294
1153    La Primavera       9.608
1154   Santa Rosal�a       4.193
1155        Cumaribo      78.863

[1156 rows x 2 columns]